<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <properties resource="ormapper/config/database.properties" />
    <typeAliases>
        <typeAlias alias="JobData" type="handy.database.table.JobData"/>
        <typeAlias alias="Mood" type="handy.database.parameter.Mood" />
        <typeAlias alias="Data" type="handy.api.dto.JobDataSchema" />
        <typeAlias alias="EnumTypeHandler" type="handy.database.typehandler.EnumTypeHandler" />
    </typeAliases>

    <typeHandlers>
        <package name="handy.database.typehandler"/>
    </typeHandlers>
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="org.postgresql.Driver"/>
                <property name="url" value="jdbc:postgresql://localhost:5432/playgrounddb"/>
                <property name="username" value="pompom"/>
                <property name="password" value="pompom"/>
            </dataSource>
        </environment>
    </environments>

    <mappers>
        <mapper resource="ormapper/mappers/JobDataMapper.xml"/>
        <mapper resource="ormapper/mappers/UuidMapper.xml"/>
        <mapper resource="ormapper/mappers/SomethingMapper.xml"/>
    </mappers>

</configuration>
