<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.mapper.DataMapper">
    <resultMap id="UserResultMap" type="org.dto.Data">
        <id property="id" column="id" />
        <result property="json" column="json" typeHandler="org.handler.JsonbTypeHandler"/>
    </resultMap>

    <select id="select">
        SELECT json
        FROM data
        LEFT JOIN dataRelatedSomething ON data.dataRelatedSomethingId = dataRelatedSomething.dataRelatedSomethingId
        LEFT JOIN something ON dataRelatedSomething.somethingId = something.somethingId
        WHERE  data.id = 1;

    </select>
</mapper>
