<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="handy.database.mapper_interface.SomethingMapper">
    <insert id="insert">
        insert into enum_table values ( #{param1});
    </insert>
    <resultMap id="result" type="Data">
        <result property="mood" column="${enum_table.enum}" typeHandler="EnumTypeHandler"/>
    </resultMap>
    <select id="details" resultMap="result">
        select * from ${enum_table} where ${enum_table.enum} = #{param1} LIMIT 1
    </select>

</mapper>
